body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/1271162298995572736/1272951284026183700/black_blue_gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(100px);
    z-index: -1;
}

header {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    height: auto;
}

.logo-text {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-right: 40px;
    margin-left: 3px;
}

.link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
}

.link:hover {
    text-decoration: underline;
}

.main-content {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.main-text {
    font-size: 36px;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 20px;
    margin-bottom: 40px;
}

.wave-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    display: block;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.wave-image:hover {
    transform: rotate(-3deg);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}
